<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Uber Drone</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ routes.registerUser }}"
            >Register User</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ routes.registerStorage }}"
            >Register Storage</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ routes.registerAdm }}"
            >Register Admin</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ routes.registerDrone }}"
            >registerDrone Drone</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ routes.listUser }}"
            >Users List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ routes.listStorage }}"
            >Storage List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ routes.listAdm }}"
            >Admin List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ routes.listDrone }}"
            >Drone List</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
