<section id="section-users">
  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Coordenadas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>({{ user.coordinates.longitude }},{{ user.coordinates.latitude }})</td>
      </tr>
    </tbody>
  </table> -->
  <div *ngFor="let user of usersList">
    <div class="card w-80">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <p class="card-text">
          ({{ user.coordinates.longitude }}, {{ user.coordinates.latitude }})
        </p>
        <a href="#" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
</section>
