<section id="section-users">
  <div *ngFor="let user of usersList">
    <div class="card w-80">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <p class="card-text">
          ({{ user.coordinates.longitude }}, {{ user.coordinates.latitude }})
        </p>
        <button class="btn btn-primary" #buttonClicked (click)="orderMenorDistancia(user._id)"
        >Order</button>
      </div>
    </div>
  </div>
</section>
