<section class="cadastro">
  <form class="text-center">
    <div class="mb-3">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          name="nome"
          [(ngModel)]="storage.name"
        />
      </div>
      <div class="mb-3">
        <label for="owner" class="form-label">Owner</label>
        <select
          id="owner"
          class="form-select"
          [(ngModel)]="storage.owner"
          [ngModelOptions]="{ standalone: true }"
        >
          <option selected disabled>select the owner</option>
          <option *ngFor="let owner of owners" value="{{ owner }}">
            {{ owner }}
          </option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="latitude" class="form-label">Latitude</label>
      <input
        type="text"
        class="form-control"
        id="latitude"
        name="latitude"
        [(ngModel)]="storage.coordinates.latitude"
      />
    </div>
    <div class="mb-3">
      <label for="longitude" class="form-label">Longitude</label>
      <input
        type="text"
        class="form-control"
        id="longitude"
        name="longitude"
        [(ngModel)]="storage.coordinates.longitude"
      />
    </div>
    <button type="submit" class="btn btn-dark" (click)="create()">
      Submit
    </button>
  </form>
</section>
