<section id="section-adm">
  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let adm of admList">
        <td>{{ adm.name }}</td>
        <td>{{ adm.email }}</td>
      </tr>
    </tbody>
  </table> -->
  <div *ngFor="let adm of admList">
    <div class="card w-80">
      <div class="card-body">
        <h5 class="card-title">{{ adm.name }}</h5>
        <p class="card-text">{{ adm.email }}</p>
      </div>
    </div>
  </div>
</section>
