.register-adm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 100%;
  color: #434343;
  max-height: calc(100vh - 56px);
  input {
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #cbcbcb;
    color: #212121;
  }
  label {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}
