<section class="register-adm">
  <h1>Register Admin</h1>
  <form class="text-center">
    <div class="mb-3">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          name="nome"
          [(ngModel)]="adm.name"
        />
      </div>
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="adm.email"
      />
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label" >Password</label>
      <input type="password" class="form-control" id="senha" name = "senha"[(ngModel)]="adm.password" />
    </div>
    <button type="submit" class="btn btn-dark " (click)="create()">Register</button>
  </form>
</section>
